.App {
  text-align: center;
  
}
.header {
  display:  flex;
  flex-direction: row;
}
.header > img {
  padding-right: 250px;
}
.main__wrapper  {
  margin: 30px 18px 0 50px;
  background-color: white;
  border-radius: 10px;
}
.header > span,p{
  margin-top: 28px;
}
.header > p {
  padding-right:24px ;
}
.right__header {
  display:  flex;
  flex-direction: row;
  padding-left: 60px;
}
